.button{
    margin-bottom: 2%;
    margin-right: 5%;
    margin-left: 5%;
}

.buttongroup{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    margin-top: 20px;
    position: relative;
}
.input{
    margin-top: 1px;
}
