.sortcolumn{
    display: flex;
    flex-direction: column;
    position: relative;
    justify-content: center;
    align-items: center;
}

.sortrow{
    display: flex;
    flex-direction: row;
    position: relative;
    justify-content: center;
    align-items: center;
    margin: -5px;
}

.infoArea{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.bounty{
    color: rgb(167, 223, 255);
    font-size: 20px;
    font-weight: bold;
    text-align: center;
    margin-left: 5px;
    user-select: none;
}

.delayingAppearance{
    position: fixed;
}