html, body, #root {
    height: 100%;
    width: 100%;
}

.Profile_Border {
    height: 63%;
    background-color: white;
    border: 1px solid lightgray;
    width: 75%!important;
    display: flex;
    flex-direction: column;
}