.modalcontainer{
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
}

@keyframes modalappear {
    0% {width: 0px;}
    60% {width: 750px;}
    100% {width: 700px;}
}

@keyframes modalletterappear {
    0% {top: 70%; opacity: 1;}
    30% {top: 50%; opacity: 1;}
    100% {top: 56%; opacity: 1;}
}