/* .modalcontainer{
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
} */

@keyframes effectappear {
    0% {transform:scale(2); opacity: 0;}
    20% {transform:scale(3); opacity: 1;}
    22% {transform:scale(1);}   
    70% {transform:scale(1);opacity: 1;}
    100% {transform:scale(1.3);opacity: 0;}
}
