html, body, #root{
    height: 100%
}


/* @media only screen and (max-height: 700px) {
    body {
      transform: scale(0.8);
      top: -70px;
    }
}
  
@media only screen and (max-height: 500px) {
    body {
      transform: scale(0.63);
      top: -145px;
    }
}

@media only screen and (min-height: 910px) {
    body {
      transform: scale(1.2);
      top: 90px;
    }
} */

@media only screen and (max-width: 768px) {
  /* For tablets: */
  .wel_container{
    background-image: url("/assets/background/responsive/wel_bg_rsp.png");
    background-size: 100% 100%;
    background-position: center;
    height: 100%;
    background-attachment: fixed;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .loginbtn{
    visibility: hidden;
  }
  .loginbtn_responsive{
    position: absolute;
    top: 65%;
  }
}

@media only screen and (min-width: 768px) {
  .wel_container{
    background-image: url("/assets/background/wel_bg.png");
    background-size: 100% 100%;
    background-position: center;
    height: 100%;
    background-attachment: fixed;
  }
  .loginbtn{
    position: absolute;
    top: 30px;
    right: 50px;
  }
  .loginbtn_responsive{
    visibility: hidden;
  }
}

